<template>
  <div id="app">
    <ToolBar/>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import ToolBar from './components/ToolBar.vue'

export default {
  name: 'app',
  components: {
    //HelloWorld,
    ToolBar
  }
}
</script>

<style>
#app {

}
</style>
