

<template>
  <div class="classCrud text-center">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success addButton"
      data-toggle="modal"
      data-target="#exampleModal"
    >Dodaj klase</button>

    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        v-for="(horseClass, index) in horseClasses"
        v-bind:key="horseClass.id"
      >
        Kategoria:
        <input type="text" v-model="horseClass.kat">&nbsp;
        Numer:
        <input type="text" v-model="horseClass.numer">
        <br>Komisja:
        <ul class="list-group list-group-flush">
          <li
            style="list-style-type: none;"
            v-for="(referee, index) in horseClass.komisja"
            v-bind:key="referee"
          >
            <br>
            <select width="100%">
              <option
                v-for="specReferee in referees"
                v-bind:key="specReferee.id"
                v-bind:selected="specReferee.id == referee"
              >{{specReferee.sedzia}}</option>
            </select>
            <br>
            <button
              type="button"
              class="btn btn-danger deletebtn"
              v-on:click="deleteReferee(index)"
            >Usuń sędziego</button>
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-secondary addRefereeButton"
          v-on:click="addReferee()"
        >Dodaj sędziego</button>
        <br>
        <button
          type="button"
          style="margin:10px;"
          @click="editClass(index)"
          class="btn btn-primary"
        >Edytuj</button>
        <button
          type="button"
          style="margin:10px;"
          @click="deleteClass(index)"
          class="btn btn-danger"
        >Usuń klase</button>
      </li>
    </ul>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nowa klasa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body myForm">
            Numer:
            <br>
            <input class="form-control" type="text" placeholder="Numer">
            Kategoria:
            <br>
            <input class="form-control" type="text" placeholder="Kategoria">
            <ul style="list-style-type: none; padding:0px;">
              <li
                style="list-style-type: none;"
                v-for="(select, index) in selects"
                v-bind:key="select"
              >
                Sędzia:
                <br>
                <select width="100%">
                  <option
                    v-for="specReferee in referees"
                    v-bind:key="specReferee.id"
                  >{{specReferee.sedzia}}</option>
                </select>
                <button
                  type="button"
                  class="btn btn-danger"
                  v-on:click="deleteJudge(index)"
                >Usuń sędziego</button>
              </li>
            </ul>
            <button type="button" class="btn btn-secondary" v-on:click="addJudge()">Dodaj sędziego</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RefereeCrud from "./RefereeCrud";
export default {
  name: "ClassCrud",
  data: function() {
    return {
      selects: [{ one: "" }],
    };
  },
  computed: {
    horseClasses() {
      return this.$store.state.classes;
    },
    referees(){
      return this.$store.state.referees;
    }
  },
  beforeCreate() {
    this.$store.dispatch("loadReferees");
    this.$store.dispatch("loadClasses");
  },
  methods: {
    addJudge() {
      this.selects.push({
        one: ""
      });
    },
    deleteJudge(index) {
      this.selects.splice(index, 1);
    },
    addReferee(index) {},
    deleteReferee(index) {},
    getRefereeById(id) {
      console.log(this.referees.find(x => x.id === id));
      return this.referees.find(x => x.id === id);
    }
  }
};
</script>

<style scoped>
.addButton {
  margin: 20px;
}

.addJudge {
  margin: 20px;
}

.addRefereeButton {
  margin: 20px;
}

.deletebtn {
  margin: 10px;
}
</style>
