

<template>
  <div class="horseCrud text-center">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success addButton"
      data-toggle="modal"
      data-target="#exampleModal"
    >Dodaj konia</button>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="(horse, index) in horses" v-bind:key="horse.id">
          Numer:
          <br>
          <input class="col-md-12" type="text" v-model="horse.numer">
          <br>Klasa:
          <select class="col-md-12" type="text">
            <option
                v-for="specClass in horseClasses"
                v-bind:key="specClass.id"
                v-bind:selected="specClass.id == horse.klasa"
              >{{specClass.kat}}</option>
          </select>
          <br>Nazwa:
          <input class="col-md-12" type="text" v-model="horse.nazwa">
          <br>Kraj:
          <input class="col-md-12" type="text" v-model="horse.kraj">
          <br>Rocznik:
          <input class="col-md-12" type="text" v-model="horse.rocznik">
          <br>Maść:
          <input class="col-md-12" type="text" v-model="horse.masc">
          <br>Płeć:
          <input class="col-md-12" type="text" v-model="horse.plec">
          <br>Imię hodowycy:
          <input class="col-md-12" type="text" v-model="horse.hodowca.nazwa">
          <br>Kraj hodowcy:
          <input class="col-md-12" type="text" v-model="horse.hodowca.kraj">
          <br>Nazwa rodowodu ojca:
          <input class="col-md-12" type="text" v-model="horse.rodowod.o.nazwa">
          <br>Kraj rodowodu ojca:
          <input class="col-md-12" type="text" v-model="horse.rodowod.o.kraj">
          <br>Nazwa rodowodu matki:
          <input class="col-md-12" type="text" v-model="horse.rodowod.m.nazwa">
          <br>Kraj rodowodu matki:
          <input class="col-md-12" type="text" v-model="horse.rodowod.m.kraj">
          <br>Nazwa rodowodu ojca matki:
          <input
            class="col-md-12"
            type="text"
            v-model="horse.rodowod.om.nazwa"
          >
          <br>Kraj rodowodu ojca matki:
          <input
            class="col-md-12"
            type="text"
            v-model="horse.rodowod.om.kraj"
          >
          <br>Kraj rodowodu ojca matki:
          <input
            class="col-md-12"
            type="text"
            v-model="horse.rodowod.om.kraj"
          >
          <br>
          <p class="col-md-12">Suma punktów: {{CountPointsHorse(index)}}</p>
          <button
            @click="setActive(index)"
            type="button"
            style="margin:10px;"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#pointsModal"
          >Oceń</button>
          <button
            type="button"
            style="margin:10px;"
            @click="editHorse(horses[index])"
            class="btn btn-primary"
          >Edytuj</button>
          <button
            type="button"
            style="margin:10px;"
            @click="deleteHorse(horses[index])"
            class="btn btn-danger"
          >Usuń</button>
      </li>
    </ul>
    <!-- Modal dla tworzenia konia-->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nowy koń</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Numer:
            <br>
            <input class="form-control" type="text" placeholder="Numer">
            Klasa:
            <br>
            <select class="form-control">
              <option>Super</option>
            </select>
            Nazwa:
            <br>
            <input class="form-control" type="text" placeholder="Nazwa">
            Kraj:
            <br>
            <input class="form-control" type="text" placeholder="Kraj">
            Rocznik:
            <br>
            <input class="form-control" type="text" placeholder="Rocznik">
            Maść:
            <br>
            <input class="form-control" type="text" placeholder="Maść">
            Płeć:
            <br>
            <input class="form-control" type="text" placeholder="Płeć">
            Nazwa hodowcy:
            <br>
            <input class="form-control" type="text" placeholder="Nazwa hodowcy">
            Kraj hodowcy:
            <br>
            <input class="form-control" type="text" placeholder="Kraj hodowcy">
            Nazwa właściciela:
            <br>
            <input class="form-control" type="text" placeholder="Nazwa właściciela">
            Kraj właściciela:
            <br>
            <input class="form-control" type="text" placeholder="Kraj właściciela">
            Rodowód ojca nazwa:
            <br>
            <input class="form-control" type="text" placeholder="Rodowód ojca nazwa">
            Rodowód ojca kraj:
            <br>
            <input class="form-control" type="text" placeholder="Rodowód ojca kraj">
            Rodowód matki nazwa:
            <br>
            <input class="form-control" type="text" placeholder="Rodowód matki nazwa">
            Rodowód matki kraj:
            <br>
            <input class="form-control" type="text" placeholder="Rodowód matki kraj">
            Rodowód ojca matki nazwa:
            <br>
            <input class="form-control" type="text" placeholder="Rodowód ojca matki nazwa">
            Rodowód ojca matki kraj:
            <br>
            <input class="form-control" type="text" placeholder="Rodowód ojca matki kraj">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal dla oceny -->
    <div
      class="modal fade bd-example-modal-lg"
      id="pointsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="pointsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pointsModalLabel">Oceny</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <PointsComponent :index="activeIndex" ref="pointsComponent"></PointsComponent>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              style="margin:10px;"
              @click="editHorse(horses[index])"
              class="btn btn-primary"
            >Edytuj</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PointsComponent from "./PointsComponent";
export default {
  name: "HorseCrud",
  props: {
    msg: String
  },
  components: {
    PointsComponent
  },
  methods: {
    editHorse(horse) {
      const params = new URLSearchParams();
      params.append("horse", JSON.stringify(horse));
      this.$http
        .put("horse/" + horse.id, params)
        .then( response => {
          this.$store.dispatch("loadHorses");
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    deleteHorse(horse) {
      this.$http
        .delete("horse/" + horse.id)
        .then( response => {
          console.log(response);
          this.$store.dispatch("loadHorses");
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    addHorse(horse) {

    },
    CountPointsHorse(index) {
      let scores = 0;
      let horse = this.horses[index];
      horse.wynik.noty.forEach(element => {
        scores =
          scores +
          element.typ +
          element.glowa +
          element.kloda +
          element.nogi +
          element.ruch;
      });
      return scores;
    },
    setActive(index) {
      this.activeIndex = index;
      let horse = this.$refs.pointsComponent.getActiveHorse(this.activeIndex);
      this.$refs.pointsComponent.activeHorse = horse;
      let horseClass = this.$refs.pointsComponent.getActiveClass(horse.klasa);
      this.$refs.pointsComponent.activeClass = horseClass;
      let horseReferees = this.$refs.pointsComponent.getActiveReferees(
        horseClass
      );
      this.$refs.pointsComponent.activeReferees = horseReferees;
    }
  },
  beforeCreate() {
    this.$store.dispatch("loadHorses");
    this.$store.dispatch("loadReferees");
    this.$store.dispatch("loadClasses");
  },
  computed: {
    horses() {
      return this.$store.state.horses;
    },
    horseClasses(){
      return this.$store.state.classes;
    }
  },
  data: function() {
    return {
      activeIndex: ""
    };
  }
};
</script>

<style scoped>
.addButton {
  margin: 20px;
}
</style>
