<template>
  <div v-if="index !== ''">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sędziowie</th>
          <th scope="col">Typ</th>
          <th scope="col">Głowa</th>
          <th scope="col">Kłoda</th>
          <th scope="col">Nogi</th>
          <th scope="col">Ruch</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(referee,index) in activeReferees" v-bind:key="referee.id">
         <th scope="row">{{referee.sedzia}}</th>
          <td><input class="col-md-2 rate" v-model="activeHorse.wynik.noty[index].typ"></td>
          <td><input class="col-md-2 rate" v-model="activeHorse.wynik.noty[index].glowa"></td>
          <td><input class="col-md-2 rate" v-model="activeHorse.wynik.noty[index].kloda"></td>
          <td><input class="col-md-2 rate" v-model="activeHorse.wynik.noty[index].nogi"></td>
          <td><input class="col-md-2 rate" v-model="activeHorse.wynik.noty[index].ruch"></td>
        </tr>
      </tbody>
    </table>
    <p>Suma typ: {{sumType}}</p>
    <p>Suma ruch: {{sumMove}}</p>
    <p>Suma ogólna: {{sumAll}}</p>
  </div>
</template>

<script>
export default {
  name: "PointsComponent",
  props: {
    index:''
  },
  beforeCreate() {
    this.$store.dispatch("loadHorses");
    this.$store.dispatch("loadReferees");
    this.$store.dispatch("loadClasses");
  },
  computed: {
    horses() {
      return this.$store.state.horses;
    },
    horseClasses() {
      return this.$store.state.classes;
    },
    referees() {
      return this.$store.state.referees;
    },
    sumType(){
          let sum = 0;
          this.activeHorse.wynik.noty.forEach(element => {
              sum += parseFloat(element.typ);
          });
          return sum;
      },
      sumMove(){
          let sum = 0;
          this.activeHorse.wynik.noty.forEach(element => {
              sum += parseFloat(element.ruch);
          });
          return sum;
      },
      sumAll(){
          let sum = 0;
          this.activeHorse.wynik.noty.forEach(element => {
              sum +=  parseFloat(element.typ) + parseFloat(element.ruch) +
               parseFloat(element.glowa) + parseFloat(element.kloda) + parseFloat(element.nogi);
          });
          return sum;
      }
  },
  methods: {
      getActiveHorse(index){
          return this.horses[index];
      },
      getActiveReferees(horseClass){
          let refereeArray = [];
          this.referees.forEach(element => {
              if(horseClass.komisja.includes(element.id)){
                  refereeArray.push(element);
              }
          });
          return refereeArray;
      },
      getActiveClass(classId){
          return this.horseClasses.find(x=>x.numer === classId);
      }
  },
  data: function() {
    return {
      activeReferees:Object,
      activeHorse:Object,
      activeClass:Object,
    };
  }
};
</script>

<style scoped>
.rate{
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center
}
</style>

