

<template>
  <div class="refereeCrud text-center">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success addButton"
      data-toggle="modal"
      data-target="#exampleModal"
    >Dodaj sędziego</button>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="(referee, index) in referees" v-bind:key="referee.id">
        Sędzia:
        <input type="text" v-model="referee.sedzia">&nbsp; Kraj:
        <input type="text" v-model="referee.kraj">
        <br>
        <button
          type="button"
          style="margin:10px;"
          @click="editReferee(referees[index])"
          class="btn btn-primary"
        >Edytuj</button>
        <button
          type="button"
          style="margin:10px;"
          @click="delateReferee(referees[index])"
          class="btn btn-danger"
        >Usuń</button>
      </li>
    </ul>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nowy sędzia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Sędzia:
            <br>
            <input class="form-control" type="text" v-model="name" placeholder="Imię i nazwisko">
            Kraj:
            <br>
            <input class="form-control" type="text" v-model="country" placeholder="Kraj">
          </div>
          <div class="modal-footer">
            <button type="button" @click="addReferee()" class="btn btn-primary">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "JudgeCrud",
  props: {
    msg: String
  },
  beforeCreate() {
    this.$store.dispatch("loadReferees");
  },
  computed: {
    referees() {
      return this.$store.state.referees;
    }
  },
  data: function() {
    return {
      name: "",
      country: ""
    };
  },
  methods: {
    delateReferee(referee) {
      this.$http
        .delete("referee/" + referee.id)
        .then(response => {
          console.log(response);
          this.$store.dispatch("loadReferees");
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    editReferee(referee) {
      const params = new URLSearchParams();
      params.append("sedzia", referee.sedzia);
      params.append("kraj", referee.kraj);
      this.$http
        .put("referee/" + referee.id, params)
        .then(response => {
          console.log(response);
          this.$store.dispatch("loadReferees");
        })
        .catch(errors => {
          console.log(errors);
        });
    },
    addReferee() {
      const params = new URLSearchParams();
      params.append("sedzia", this.name);
      params.append("kraj", this.country);
      this.$http
        .post("referee", params)
        .then(response => {
          console.log(response);
          this.$store.dispatch("loadReferees");
          this.name = "";
          this.country = "";
          
        })
        .catch(e => {
          alert("Coś poszło nie tak. Spróbuj ponownie później: " + e.message);
        });
    }
  }
};
</script>

<style scoped>
.addButton {
  margin: 20px;
}
</style>
