<template>
  <div class="toolbar">
    <nav class="navbar navbar-dark bg-dark">
        <router-link class="navbar-brand navItem" to="/home">Strona głowna</router-link>
        <router-link class="navbar-brand navItem" to="/horses">Konie</router-link>
        <router-link class="navbar-brand navItem" to="/referee">Sędziowie</router-link>
        <router-link class="navbar-brand navItem" to="/classes">Klasy</router-link>
        <router-link class="navbar-brand navItem" to="/competitions">Konkursy</router-link>
        <router-link class="navbar-brand navItem" to="/logout">Wyloguj</router-link>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Toolbar',
  props: {
    msg: String
  }
}
</script>

<style scoped>
</style>
